extends layout

block meta
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js')
  script(src='/js/graphchart.js')

block content
  h2= title
  canvas(id='myChart')
  
  - tmp = new Array()
  - each time in times
    -tmp.push(time + '')
    
  script createChart([
    - each t in times
      "xxxx",
    ], '#{dataname1}', [#{data1}])
  //script createChart([a, b, c], '#{dataname1}', [1, 2, 3])
